<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aliquid placeat, quod, soluta aut porro sunt obcaecati incidunt magni consectetur est ab voluptatum! Molestias nihil itaque hic quae laborum dignissimos reiciendis esse eveniet? A suscipit repellat tenetur sit itaque accusantium.</p>
    </div>
</div>